@{
    @model RomaniaMea.API.ViewModels.ShoppingCartViewModel  
    ViewData["Title"] = "Coș de cumpărături";
}
<h2>Coș de cumpărături <i class="fa fa-shopping-cart" aria-hidden="true"></i> </h2>


@if (Model.ShoppingCartItems?.Count() <= 0)
{
    <br />
    <h6> Upps! Coșul tău de cumpărături este gol! &#128546;</h6>
    return;
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Produs</th>
            <th>Cantitate</th>
            <th>Preț</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCartItems)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>
                    <form class="d-inline align-middle" asp-action="RemoveFromShoppingCart"
                          asp-controller="ShoppingCart"
                          asp-route-id="@item.ProductId"
                          method="post">
                        <button class="btn fa fa-minus fa-small" aria-hidden="true"></button>
                    </form>
                    <span style="padding:1px 10px">@item.Quantity</span>
                    <form class="d-inline align-middle" asp-action="AddToCart"
                          asp-controller="ShoppingCart"
                          asp-route-id="@item.ProductId"
                          method="post">
                        <button class="btn fa fa-plus fa-small" aria-hidden="true"></button>
                    </form>

                </td>
                <td>@item.ProductPrice</td>
                <td>@item.ItemPrice</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total: </td>
            <td>@Model.ShoppingCartTotal.ToString()</td>
        </tr>
        <tr style="border:0">
            <td>
                <form asp-action="RemoveAllCart" method="post">
                    <button class="btn btn-link text-dark" asp-action="RemoveAllCart">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </button>
                </form>

            </td>
            <td colspan="2"></td>
            <td class="text-center">
                <a class="btn buy-now-btn float-right" asp-action="index" asp-controller="order">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    Checkout
                </a>
            </td>
        </tr>
    </tfoot>
</table>
